@import "tailwindcss";

@theme {
  --animate-slide-up-fade-in: slideUpFadeIn 0.7s ease-out forwards;
  --animate-scan: scanAnim 2s ease-in-out infinite;
  --animate-shimmer: shimmer 1.5s infinite;

  @keyframes slideUpFadeIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes scanAnim {

    0%,
    100% {
      top: 0%;
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    100% {
      top: 100%;
      opacity: 0;
    }
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}